 h1 {
        font-family:times new roman;
        font-size:35pt;
        color: white ;
    }
body {
        font-family:times new roman;
        background-color: grey; }
ul.navbar li a { 
        text-decoration: none ;
        font-size: 30pt;
    }
    a:link {
        color: white }
a:visited {
        color:white; }
    
