 h1 {
        font-family:times new roman;
        display:flex; 
        justify-content: center;
        text-transform: uppercase;
        font-size:40pt;
        color: hotpink ;
    }
body {
        font-family:times new roman;
        background-color: grey; }
ul.navbar li a { 
        text-decoration: none ;
        font-size: 30pt;
    }
    a:link {
        color: white }
a:visited {
        color:white; }
        
h2 {
        font-family: times new roman;
        font-size: 30pt;
        color: black;
}
