<!DOCTYPE html>
<html>
<head>
    <title>Samantha's Website</title>
    <style type="text/css">
    h1 {
        font-family:times new roman;
        font-size:20pt;
        color: blue ;
    }
     </style>
</head>
    <body>
        <h1>Samantha's Website</h1>
    </body>
</html>